#submit-button {
    color: hsl(0, 100%, 0%);
} 

#dog-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#dog-div {
    border: solid;
    width: 20%;
    margin: 5%;
}

#dog-div > img {
    width: 100%;
}

h2, h5{

}